# Игнорировать node_modules во всех подпапках
**/node_modules/

# Игнорировать .env в backend
/backend/.env

# Игнорировать сборки React
/client/build/
/admin/build/

/# Игнорировать временные файлы
*.log
*.tmp

# IDE-шные и системные файлы
.vscode/
.DS_Store