code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Montserrat;
  width: 100vw;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

input {
  font-family: Montserrat;
}

.main-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 10px;
  z-index: 80;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  margin-top: 30px;
}

button {
  font-weight: bold;
}

.app-separator-gray {
  width: 80%;
  height: 1px;
  background: #eeeeee;
}

@media (max-width: 800px) {
  footer {
    background-color: #ffffff;
  }
}
