.sliderContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperSlideCustom {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 3 / 2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.swiperSlideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftGradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  z-index: 3;
}

.rightGradient {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  z-index: 3;
}

@media (max-width: 658px) {
  .rightGradient,
  .leftGradient {
    display: none;
  }
}
